@font-face {
  font-family: 'octadesk';
  src:  url('fonts/octadesk.eot?ld7pr3');
  src:  url('fonts/octadesk.eot?ld7pr3#iefix') format('embedded-opentype'),
    url('fonts/octadesk.woff2?ld7pr3') format('woff2'),
    url('fonts/octadesk.ttf?ld7pr3') format('truetype'),
    url('fonts/octadesk.woff?ld7pr3') format('woff'),
    url('fonts/octadesk.svg?ld7pr3#octadesk') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'octadesk' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ticket-o:before {
  content: "\e900";
}
.icon-clock-o:before {
  content: "\e901";
}
.icon-workflow-o:before {
  content: "\e902";
}
.icon-open-book-o:before {
  content: "\e903";
}
.icon-chat-o:before {
  content: "\e904";
}
.icon-donut-chart-o:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e906";
}
.icon-arrow-right:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e908";
}
.icon-previous:before {
  content: "\e909";
}
.icon-next:before {
  content: "\e90a";
}

